---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <a href="{{ site.baseurl }}{{ post.url }}" class="post">
      <article>
        <h2 class="date">{{ post.date | date: "%B %e, %Y" }}</h2>
        <h1 class="post__header">
          {% if post.chapter %}
            <span class="post__chapter">Chapter {{ post.chapter }} | </span>
          {% endif %}
          {% if post.biblio %}
            <span class="post__chapter">Bibliography | </span>
          {% endif %}
          {{ post.title }}
          {% if post.subtitle %}
            <div class="post__subtitle">{{ post.subtitle }}</div>
          {% endif %}
        </h1>

      <!-- <div class="entry">
        {{ post.excerpt }}
      </div> -->

      <!-- <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a> -->
      </article>
    </a>
  {% endfor %}
</div>
