<section class="posts">
  {% for post in postslist | reverse %}
    <a href="{{ post.url | url }}" class="post">
      <article>
				<time datetime="{{ post.date | machineDate }}">
					<h2 class="date">{{ post.date | readableDate }}</h2>
				</time>
        <h1 class="post__header">
            {% if post.data.chapter %}
                <span class="post__chapter">chapter{{ post.data.chapter }}(</span>
            {% endif %}
            {% if post.data.biblio %}
                <span class="post__chapter">bibliography(</span>
            {% endif %}
            {% if post.data.appendix %}
                <span class="post__chapter">appendix{{ post.data.appendix }}(</span>
            {% endif %}
            <span class="post__title">{{ post.data.title }}</span> )
            {% if post.data.subtitle %}
                <div class="post__subtitle">{{ post.data.subtitle }}</div>
            {% endif %}
        </h1>
      </article>
    </a>
  {% endfor %}
</section>

{# <section>
	{% for post in postslist | reverse %}
		<article{% if post.url == url %} data-current="current item"{% endif %}>
			<h3>
				<a href="{{ post.url | url }}">
					{% if post.data.title %}
						{{ post.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
			{% if post.data.summary %}
				<p>
					{{ post.data.summary }}
				</p>
			{% endif %}
			<p>
				<time datetime="{{ post.date | machineDate }}">
					<small>{{ post.date | readableDate }} by {{ metadata.author.name }}</small>
				</time>
			</p>
			{% if post.data.tags %}
				<p>
					{% for tag in post.data.tags %}
		  			{%- if tag != "post" -%}
		  				{% set tagUrl %}/tags/{{ tag }}/{% endset %}
		  			<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
		  			{%- endif -%}
					{% endfor %}
				</p>
			{% endif %}
		</article>
	{% endfor %}
</section> #}