{% if metadata.author.dribbble %}<a href="https://dribbble.com/{{ metadata.author.dribbble }}" target="_blank"><i class="svg-icon dribbble"></i></a>{% endif %}
{% if metadata.author.email %}<a href="mailto:{{ metadata.author.email }}" target="_blank"><i class="svg-icon email"></i></a>{% endif %}
{% if metadata.author.facebook %}<a href="https://www.facebook.com/{{ metadata.author.facebook }}" target="_blank"><i class="svg-icon facebook"></i></a>{% endif %}
{% if metadata.author.flickr %}<a href="https://www.flickr.com/{{ metadata.author.flickr }}" target="_blank"><i class="svg-icon flickr"></i></a>{% endif %}
{% if metadata.author.github %}<a href="https://github.com/{{ metadata.author.github }}" target="_blank"><i class="svg-icon github"></i></a>{% endif %}
{% if metadata.author.instagram %}<a href="https://instagram.com/{{ metadata.author.instagram }}" target="_blank"><i class="svg-icon instagram"></i></a>{% endif %}
{% if metadata.author.linkedin %}<a href="https://www.linkedin.com/in/{{ metadata.author.linkedin }}" target="_blank"><i class="svg-icon linkedin"></i></a>{% endif %}
{% if metadata.author.pinterest %}<a href="https://www.pinterest.com/{{ metadata.author.pinterest }}" target="_blank"><i class="svg-icon pinterest"></i></a>{% endif %}
{% if metadata.author.rss %}<a href="{{ site.baseurl }}/feed.xml" target="_blank"><i class="svg-icon rss"></i></a>{% endif %}
{% if metadata.author.twitter %}<a href="https://www.twitter.com/{{ metadata.author.twitter }}" target="_blank"><i class="svg-icon twitter"></i></a>{% endif %}
{% if metadata.author.stackoverflow %}<a href="http://stackoverflow.com/{{ metadata.author.stackoverflow }}" target="_blank"><i class="svg-icon stackoverflow"></i></a>{% endif %}
{% if metadata.author.youtube %}<a href="https://youtube.com/{{ metadata.author.youtube }}" target="_blank"><i class="svg-icon youtube"></i></a>{% endif %}
{% if metadata.author.googleplus %}<a href="https://plus.google.com/{{ metadata.author.googleplus }}" target="_blank"><i class="svg-icon googleplus"></i></a>{% endif %}
