---
layout: default
---

<article class="post post--page">
  <!-- <h2 class="date">{{ page.date | date: "%B %e, %Y" }}</h2> -->
  <h1 class="post__header">
    {% if page.chapter %}
      <span class="post__chapter">Chapter {{ page.chapter }} | </span>
    {% endif %}
    {% if page.biblio %}
      <span class="post__chapter">Bibliography | </span>
    {% endif %}
    {{ page.title }}
    {% if page.subtitle %}
      <div class="post__subtitle">{{ page.subtitle }}</div>
    {% endif %}
  </h1>

  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
</article>
